{% extends "base.html" %}
{% block content %}
<main class = "container py-5">
    <section class = "card card-body">
        <h1 class="display-1 text-center">Inicio</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, eaque deleniti harum rerum atque modi adipisci velit perspiciatis nulla itaque, distinctio, ullam nostrum id facere beatae quod quo porro doloremque?
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="/crearusuario/">Crear Usuario</a>
            <a class="btn btn-primary" href="/ingresar/">Ingresar</a>
        </div>
    </section>
</main>
{% endblock %} 